@import url("https://fonts.googleapis.com/css2?family=Square+Peg&family=Tapestry&family=Whisper&display=swap");
nav {
  width: 100%;
  background-color: rgb(155, 174, 194) !important;
}
nav .navbartitulo {
  letter-spacing: 10px;
  color: rgb(80, 102, 131) !important;
  font-family: "Square Peg", cursive;
  font-family: "Tapestry", cursive;
  font-family: "Whisper", cursive;
  font-size: 30px;
}
nav a:hover {
  color: wheat !important;
}

.jumboind {
  background-color: rgb(96, 116, 138);
  text-align: center;
  letter-spacing: 3px;
  border-radius: 30px;
  border: 2px solid black;
  margin: 10px;
}
.jumboind span {
  letter-spacing: 10px !important;
  color: rgb(80, 102, 131) !important;
  font-family: "Square Peg", cursive;
  font-family: "Tapestry", cursive;
  font-family: "Whisper", cursive;
  font-size: 70px;
}
.jumboind p {
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.h2equipo {
  font-family: "Square Peg", cursive;
  font-size: 60px;
  text-align: center;
}

.maps-darkgrey {
  background-color: rgb(70, 81, 100);
  height: 100px;
  width: 100%;
  border: 5px solid darkgrey;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  color: rgb(7, 7, 7);
}

.maps-grey {
  background-color: rgb(70, 81, 100);
  height: 100px;
  width: 100%;
  border: 5px solid grey;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  color: rgb(7, 7, 7);
}

.maps-black {
  background-color: rgb(70, 81, 100);
  height: 100px;
  width: 100%;
  border: 5px solid black;
  text-align: center;
  font-size: 60px;
  line-height: 50px;
  color: rgb(7, 7, 7);
}

.maps-lightblue {
  background-color: rgb(70, 81, 100);
  height: 100px;
  width: 100%;
  border: 5px solid lightblue;
  text-align: center;
  font-size: 80px;
  line-height: 50px;
  color: rgb(7, 7, 7);
}

.cuadrado-1 {
  background-color: rgb(68, 84, 105);
  width: 100%;
  height: 300px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.cuadrado-2 {
  background-color: rgb(59, 63, 68);
  width: 100%;
  height: 250px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.cuadrado-3 {
  background-color: rgb(40, 42, 44);
  width: 100%;
  height: 400px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.rowindex {
  height: 500px;
}
.rowindex .nleft {
  background-color: rgb(68, 92, 92);
  background-image: url(../assets/img/help.svg);
}
.rowindex .nright {
  background-color: rgb(76, 104, 104);
  color: rgb(18, 22, 24);
}
.rowindex .rowtitimg {
  text-align: left;
  font-weight: 600;
  font-size: large;
}
.rowindex .rowtitimg p {
  color: rgb(163, 174, 185);
  text-align: left;
  font-weight: 100;
}

.rowindex2 {
  height: 500px;
}
.rowindex2 .rowtitimg2 {
  font-weight: 600;
  font-size: large;
  color: aliceblue;
}
.rowindex2 .nright2 {
  background-color: rgb(103, 139, 139);
  background-image: url(../assets/img/imagen.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.rowindex2 .nleft2 {
  background-color: rgb(136, 177, 177);
  text-align: right;
}
.rowindex2 .nleft2 p {
  color: rgb(6, 6, 7);
  font-weight: 100;
}

.footerall {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: beige;
  text-align: center;
  letter-spacing: 5px;
}
.footerall a {
  color: aliceblue;
  letter-spacing: 30px;
}
.footerall a:hover {
  color: rgb(43, 48, 48);
}

.carousel-inner {
  color: black;
}
.carousel-inner h3 {
  color: black;
}
.carousel-inner p {
  color: black;
}

.flechas {
  background-color: rgb(111, 117, 128);
  border-radius: 10px;
}

/*# sourceMappingURL=estilos.css.map */
